p{
  color:red;
  font-size:50px;
  background-color: blue;  
  text-align: center;
}

.parrafoVerde{
    color:green;
    background-color: aqua;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#parrafoPrincipal{
    color:greenyellow;
    text-align: right;
    font-style: normal;
}

ul{
    list-style-type: circle;
}
